@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 30px;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.01;
}

.header {
  display: flex;
  height: 50px;
  position: relative;
}

.logo-main {
  width: 190px;
  cursor: pointer;
}

hr {
  margin-left: 15px;
  margin-right: 20px;
  border: none;
  height: 2px; /* Толщина */
  background-color: white; /* Цвет */
  height: 100%;
  width: 1;
}

.navbar {
  height: 100%;
}

.nav-list {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-list li {
  padding: 10px;
  margin-right: 10px;
}

.navbar-btn {
  display: none;
}

@media (max-width: 768px) {
  hr {
    display: none;
  }

  .navbar {
    display: none;
  }

  .navbar-btn {
    display: block;
    position: absolute;
    right: 0px;
  }

  .navbar-frombtn {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #171717;
    border-radius: 15px;
    height: fit-content;
    width: 250px;
  }

  .navbar-frombtn li {
    font-size: larger;
    padding: 10px;
    border-top: solid #0a0a0a 1px;
  }
}